* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
#mathapp{
	min-width:550px;
}
nav{
	height:60px;
	width: 100%;
	color: white;
	background: #67074e;
	font-size: 30px;
	
}
h1{
	float:left;
	text-align: center;
	width:90%;
}
.menu_icon{
	width: 5%;
	float:left;
	position:fixed;
	/*padding:2px;*/
	top:15px;
	right:5px;
	
}
.menu_icon::after{
	clear:both;
}
.menu_img{
	width: 100%;
	

}
.menu_list{
	display:none;
	float:right;
	position:fixed;
	/*padding:2px;*/
	top:45px;
	right:0px;
}
.menu{
	list-style: none;
	color: white ;
	background: #67074e;
}

.menu_cont{
	padding-top: 5px;
	width: 70px;
	border:2px solid #67074e;
	font-size: 18px;
	

}
#help{
	display:none;
	z-index: 5;
	width:90%;
	height:300px;
	position: fixed;
	top: 100px;
	left: 10px;
	border: 5px solid #67074e;
}


#contact{
	display: none;
	z-index: 5;
	width:100%;
	height:90px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #67074e;
	color:white;
}
.close{
	width:100%;
	height: 40px;
	color: white;
	background: #67074e;
}

.para{
	font-style: italic;
	font-size: 15px;
	color: #67074e;
	margin: 25px 10px;
	line-height: 20px;
}
.contactpara{
	font-style: italic;
	font-size: 15px;
	color: white;
	float:left;
	width: 80%;
	margin-top:20px;

}

.facebook{
	width: 20%;
	float:left;


}
.fb{
	width:40px;
}
.facebook::after{
	clear:both;
}

#form{
	
	width:60%;
	margin: 50px auto;
	height: 400px;
	background: #67074e;
	/*border: 5px solid white;*/

}
#dispBar{
	width: 100%;
	height:50px;
	border: 5px solid #67074e;
}
#buttonsbar{

	width: 100%;
	height: 100%;
	border:5px solid #67074e;
	padding-top: 18px;
}
.button{
	width:24%;
	height:50px;
	background: white;
	color:#67074e;
	font-size:20px;

}
.formula{
	font-size: 10px;
	border: 1px solid grey;
}
#one{

}
.input{
	width:100%;
	background:white;
	color: #67074e;
}
.inputtxt{
	width:79.5%;
	float:left;
}
.input1, .input2, .input3{
	width: 33%;
	float: left;
	/*border : 1px solid black;*/
}
.input::after{
	clear: both;
}
.small{
	width:20%;
	float:left;
	height:25px;
}
#formulainput1{
	
	width: 100%;
	height:25px;
	float:left;
}

#formulainput2{
	
	width: 100%;
	height:25px;
	float:left;

}



 #formulainput3{
	
	
	width: 100%;
	height:25px;
	float:left;
}

#formulaoutput{
	padding-top: 10px;
	width: 80%;
	height: 50px;
	color: #67074e;
	font-size: 20px;
	float: left;

}
#clear{
	float:left;
	width:20%;
	height:45px;
	margin-top: 2px;
	background:#67074e;
	color: white;

}
#clear::after{
	clear:both;

}

.current{
	background: blue;
	color: white;
	border : 1px solid black;
}


#dispText{
	display:none;
	}
	.close2{
		background:black;
	}

@media only screen and (min-width: 600px){
	#dispText{
		display: block;
		margin : 300px auto;
		width:60%;
		background: yellow;
		color:black;
		text-align: center;

	}
	#mathapp{
		display:none;

	}

}